<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Job Scrapper</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    </head> 
    <body>
        <main class='container'>
            <h1>Job Scrapper</h1>
            <h4>What job do you want to search for?</h4>
            <form action='/search'>
                <input type='text' name='keyword' placeholder='Write keyword please'/>
                <button>Search</button>
            </form>
        </main>
    </body>
</html>